<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
--> 
<!DOCTYPE html>
<html lang="zxx"> 
<!-- Head -->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="Groovy Apparel a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //Meta-Tags -->

    <!-- Custom-Stylesheet-Links -->
    <!-- Bootstrap-CSS -->	<link rel="stylesheet" href="css/bootstrap.css"	type="text/css" media="all">
    <!-- Index-Page-CSS -->	<link rel="stylesheet" href="css/style.css"		type="text/css" media="all">
    <!-- //Custom-Stylesheet-Links -->

    <!-- Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Serif:400,700"	   type="text/css" media="all">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700"	   type="text/css" media="all">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500" type="text/css" media="all">

</head>

<body style="background-color: #D6D9DB;">

    <!-- //Header -->
    <div class="w3aitssinglewthree" style="background-color: #D6D9DB;">

      <br>
      <div style="width: 90%; height: 500px; margin:auto; background-color: #fff;">
        <br>
        <br>
        <br>
        <h2 style="color: #5B6770; margin: auto; text-align: center; padding: 15px;" >¡Gracias por tu compra!</h2>
        <br>
        <h4 style="color: #5B6770; margin: auto; text-align: center; padding: 15px; max-width: 700px;" >Gracias a tu compra {{ name }} esta a un paso más cerca de cumplir sus sueños, para más detalles revisa la sección "Mi pedido" con el id {{ id }}</h4>
        <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 2rem;">
          <button href="{{ url('pedidoAccess') }}" class="btn" style="color:#fff; background-color: #31B404; width: 200px;">Mi pedido</button>
      </div>
      <br>
      <br>
  </div>
</html>