{# templates/store/index.html.twig #}
{% extends 'store_base.html.twig' %}
{% block code %}
<style type="text/css">

</style>
<script type="text/javascript">
	window.onload = function(){
        
		$('#text').trumbowyg({
    		btns: [],
    		disabled: true
		});
    	document.body.style.backgroundColor = "white";
    };
</script>
<div style="width: 100%; background-color: #EBEDEF;">
	<br>
	<br>
	<br>
	<br>
	<div style="width: 80%; margin:auto; min-height: 600px; ">
		{% if preguntas %}
		<h1 style="color: #000;">Preguntas frecuentes</h1>
		<div style="background-color: #fff;">
			<textarea id="text" style="min-height: 600px;">{{ preguntas.content }}</textarea>
		</div>
		
		{% endif %}
	</div>
</div>


{% endblock %}