{# templates/store/fronteras.html.twig #}
{% extends 'store_base.html.twig' %}

{% block code %}
<style type="text/css">
	body{
  		background-color: #25338C !important;
	}
</style>
<div style="heigh: 100px">
Hoalaa 
</div>

{% endblock %}	