<?php
    include('assets/php/template.php');
    $temp = new Template();
    $temp->titulo = 'Historias';
?>
<!DOCTYPE html>
<html lang="es">

<head>
    <?php $temp->head(); ?>
    <link href="<?php echo $temp->siteURL; ?>assets/css/sitios/historias.css" rel="stylesheet">
</head>

<body>
    <!-- Body Inner -->
    <div class="body-inner">
        <?php $temp->menu(); ?>
        <!-- Inspiro Slider -->
        <div id="slider" class="inspiro-slider slider-fullscreen dots-creative" data-fade="true">
            <!-- Slide 1 -->
            <div class="slide" data-bg-image="<?php echo $temp->siteURL; ?>assets/images/Temporal/historias/chavos-blur.jpg">
                <div class="container">
                    <div class="slide-captions text-white">
                        <!-- Captions -->
                        <div class="row">
                            <div class="col-md-4">
                                <span class="rounded titulo-historia">Nuestra</span>
                                <h2 class="m-b-1">historia</h2>
                                <p>
                                    Desde la fundación de la Universidad de Montemorelos en el estado de Nuevo León, México, en 1942, nuestro programa fue conocido como colportaje estudiantil, en el 2014 recibe el nombre de EMPRENDUM, con un plan elaborado especialmente para nuestros universitarios, desde nuestra fundación hasta el día de hoy varias generaciones de profesionistas han sido parte de nuestro programa.
                                </p>
                            </div>
                            <div class="col-md-8 float-right">
                                <img src="<?php echo $temp->siteURL; ?>assets/images/Temporal/historias/chavos.jpg" class="img-fluid rounded-lg" alt="chavos">
                            </div>
                        </div>
                        </span>
                        <!-- end: Captions -->
                    </div>
                </div>
            </div>
            <!-- end: Slide 1 -->
        </div>
        <!--end: Inspiro Slider -->
        <section class="background-grey">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="imgMovida">
                            <img src="<?php echo $temp->siteURL; ?>assets/images/Temporal/historias/img1.jpg" alt="chavos">
                        </div>
                    </div>
                    <div class="col-md-6 m-t-10">
                        <h4>Hemos ido en crecimiento con más de</h4>
                        <div class="row justify-content-start align-items-center">
                            <div class="col-6 col-md-4">
                                <h1 style="font-size: 3.8rem; color:#2667F5;"><i class="far fa-user"></i>648</h1>
                            </div>
                            <div class="col-6 col-md-4">
                                <h4 style="color: #2667F5;">Estudiantes</h4>
                                <h4 style="color: #2667F5;">cada semestre</h4>
                            </div>
                        </div>
                        <h4>provenientes de más de</h4>
                        <div class="row justify-content-start align-items-center">
                            <div class="col-6 col-md-4">
                                <h1 style="font-size: 3.8rem; color:#2667F5;"><i class="fas fa-globe"></i>20</h1>
                            </div>
                            <div class="col-6 col-md-4">
                                <h4 style="color:#2667F5;">países</h4>
                                <h4 style="color:#2667F5;">diferentes</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-t-30">
                    <div class="col-md-12 text-center">
                        <h3>En nuestro programa se involucran padres, egresados y familias de alumnos de nuestra institución.</h3>
                    </div>
                </div>
            </div>
        </section>
        <section class="p-b-0" style="background-image: url(<?php echo $temp->siteURL; ?>assets/images/Temporal/historias/blur2.jpg)">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row align-items-center text-light">
                    <div class="col-lg-6">
                        <h3>Nuestras alianzas con las editoriales han permanecido desde el inicio, quienes trabajan para elaborar y mantener literaturas con mensajes edificantes en cada estado y país al que nuestros universitarios viajan.</h3>
                    </div>
                    <div class="col-lg-6">
                        <img class="imgAlianzas" src="<?php echo $temp->siteURL; ?>assets/images/Temporal/historias/img2.jpg" alt="chavo">
                    </div>
                </div>
            </div>
        </section>
        <section class="background-grey">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <img src="<?php echo $temp->siteURL; ?>assets/images/Temporal/historias/gastelum.png" class="img-fluid rounded" alt="equipo">
                        <h6 class="m-t-10">C.P. Carlos Gastelum</h6>
                        <span>DIRECTOR GENERAL EMPRENDUM</span>
                    </div>
                    <div class="col-lg-9">
                        <h4><span class="banNuestro">Nuestro</span></h4>
                        <h1 style="font-weight:800;color: #0050FF; font-size: 5em;">equipo</h1>
                        <h4 style="font-weight:400">Nuestro compromiso es lograr que nuestros jóvenes tengan experiencias en diferentes plataformas, que en cada lugar que visiten aprendan a escuchar las necesidades de las personas, y que puedan brindar mensajes de bienestar para contribuir a un mundo mejor.</h4>
                    </div>
                </div>
                <div class="row m-t-20">
                    <div class="col-lg-3">
                        <img src="<?php echo $temp->siteURL; ?>assets/images/Temporal/historias/garay.png" class="img-fluid rounded" alt="equipo">
                        <h6 class="m-t-10">Lic. Victor Garay</h6>
                        <span>DIRECTOR PROYECTO MONTERREY</span>
                    </div>
                    <div class="col-lg-3">
                        <img src="<?php echo $temp->siteURL; ?>assets/images/Temporal/historias/eddy.png" class="img-fluid rounded" alt="equipo">
                        <h6 class="m-t-10">Est. Eddy Morales</h6>
                        <span>DIRECTOR VII JORNADAS</span>
                    </div>
                    <div class="col-lg-3">
                        <img src="<?php echo $temp->siteURL; ?>assets/images/Temporal/historias/jose-luis.png" class="img-fluid rounded" alt="equipo">
                        <h6 class="m-t-10">Est. Jose Luis Moreno</h6>
                        <span>SUPERVISOR MATUTINO</span>
                    </div>
                    <div class="col-lg-3">
                        <img src="<?php echo $temp->siteURL; ?>assets/images/Temporal/historias/estrella.png" class="img-fluid rounded" alt="equipo">
                        <h6 class="m-t-10">Est. Estrella Hernandez</h6>
                        <span>SUPERVISORA VESPERTINA</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="p-b-0 text-light" style="background-image: url(<?php echo $temp->siteURL; ?>assets/images/Temporal/historias/img3-blur.png); background-size:cover;background-position: center;">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h3>Por medio de nuestro programa capacitamos y motivamos a nuestros estudiantes universitarios para adquirir herramientas y a fijarse metas que los ayudan a cumplir sus sueños de ser profesionistas.</h3>
                    </div>
                </div>
            </div>
            <div class="row align-items-center p-t-30">
                <div class="col-lg-6">
                    <img class="imgAlianzas" src="<?php echo $temp->siteURL; ?>assets/images/Temporal/historias/img3.png" alt="chavo">
                </div>
                <div class="container col-lg-6">
                <div class="row">
                    <div class="col-lg-12 text-center m-t-20 m-b-20">
                    <h4>Cada 6 meses se capacitan más de 30 líderes que llevarán a los estudiantes por los diferentes estados de nuestro país, realizando visitas en los hogares, empresas e iglesias con literatura para favorecer la salud, los lazos familiares, sociales y espirituales.</h4>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <div class="inspiro-slider slider-fullscreen dots-creative flickity-enabled" data-fade="true">
            <!-- Slide 1 -->
            <div class="slide kenburns" data-bg-image="<?php echo $temp->siteURL; ?>assets/images/Temporal/historias/sld1.png">
                <div class="bg-overlay" data-style="9"></div>
                <div class="container">
                    <div class="slide-captions text-white">
                        <!-- Captions -->
                        <h1 class="carrusel-titulo">ESFORZADOS</h1>
                        <h4>Si nos esforzamos y ponemos nuestra confianza en Dios, Él hará el resto.</h4>
                        <!-- end: Captions -->
                    </div>
                </div>
            </div>
            <div class="slide kenburns" data-bg-image="<?php echo $temp->siteURL; ?>assets/images/Temporal/historias/sld2.png">
                <div class="bg-overlay" data-style="9"></div>
                <div class="container">
                    <div class="slide-captions text-white">
                        <!-- Captions -->
                        <h1 class="carrusel-titulo">DICIPLINADOS</h1>
                        <h4>No tenemos tiempo que perder. Hay una obra importante delante de nosotros.</h4>
                        <!-- end: Captions -->
                    </div>
                </div>
            </div>
            <div class="slide kenburns" data-bg-image="<?php echo $temp->siteURL; ?>assets/images/Temporal/historias/sld3.png">
                <div class="bg-overlay" data-style="9"></div>
                <div class="container">
                    <div class="slide-captions text-white">
                        <!-- Captions -->
                        <h1 class="carrusel-titulo">COMPROMETIDOS</h1>
                        <h4>Nos colocamos la camiseta de un universitario comprometido que quiere ser un profesionista.</h4>
                        <!-- end: Captions -->
                    </div>
                </div>
            </div>
            <div class="slide kenburns" data-bg-image="<?php echo $temp->siteURL; ?>assets/images/Temporal/historias/sld4.png">
                <div class="bg-overlay" data-style="9"></div>
                <div class="container">
                    <div class="slide-captions text-white">
                        <!-- Captions -->
                        <h1 class="carrusel-titulo">CONSTANTES</h1>
                        <h4>Nuestra energía y actitud debe ser la misma en todos los escenarios.</h4>
                        <!-- end: Captions -->
                    </div>
                </div>
            </div>
            <div class="slide kenburns" data-bg-image="<?php echo $temp->siteURL; ?>assets/images/Temporal/historias/sld5.png">
                <div class="bg-overlay" data-style="9"></div>
                <div class="container">
                    <div class="slide-captions text-white">
                        <!-- Captions -->
                        <h1 class="carrusel-titulo">RESPONSABLES</h1>
                        <h4>Cumplir nuestros deberes hace la diferencia en nuestros resultados.</h4>
                        <!-- end: Captions -->
                    </div>
                </div>
            </div>
            <div class="slide kenburns" data-bg-image="<?php echo $temp->siteURL; ?>assets/images/Temporal/historias/sld6.png">
                <div class="bg-overlay" data-style="9"></div>
                <div class="container">
                    <div class="slide-captions text-white">
                        <!-- Captions -->
                        <h1 class="carrusel-titulo">HONESTOS</h1>
                        <h4>Nuestra actitud debe responder siempre a la verdad.</h4>
                        <!-- end: Captions -->
                    </div>
                </div>
            </div>
            <div class="slide kenburns" data-bg-image="<?php echo $temp->siteURL; ?>assets/images/Temporal/historias/sld7.png">
                <div class="bg-overlay" data-style="9"></div>
                <div class="container">
                    <div class="slide-captions text-white">
                        <!-- Captions -->
                        <h1 class="carrusel-titulo">AMOR</h1>
                        <h4>Las grandes lecciones las obtenemos escuchando las necesidades de los demás con amor genuino.</h4>
                        <!-- end: Captions -->
                    </div>
                </div>
            </div>
            <div class="slide kenburns" data-bg-image="<?php echo $temp->siteURL; ?>assets/images/Temporal/historias/sld8.png">
                <div class="bg-overlay" data-style="9"></div>
                <div class="container">
                    <div class="slide-captions text-white">
                        <!-- Captions -->
                        <h1 class="carrusel-titulo">ESPÍRITU EMPRENDEDOR</h1>
                        <h4>Identificamos las necesidades y oportunidades para poder hacer la diferencia.</h4>
                        <!-- end: Captions -->
                    </div>
                </div>
            </div>
            <div class="slide kenburns" data-bg-image="<?php echo $temp->siteURL; ?>assets/images/Temporal/historias/sld9.png">
                <div class="bg-overlay" data-style="9"></div>
                <div class="container">
                    <div class="slide-captions text-white">
                        <!-- Captions -->
                        <h1 class="carrusel-titulo">RELACIÓN CON DIOS</h1>
                        <h4>Colocamos nuestra vista en lo que Dios puede hacer con nosotros.</h4>
                        <!-- end: Captions -->
                    </div>
                </div>
            </div>

            <!-- end: Slide 1 -->
        </div>
        <?php $temp->footer(); ?>
    </div>
    <!-- end: Body Inner -->
    <?php $temp->scripts(); ?>
</body>

</html>
